<!-- File: /partials/header.html -->
<div class="t-Header-navBar--center" style="color:black">
    <ul class="t-NavigationBar" id="8792244222964376">



        <li class="t-NavigationBar-item">
            <button class="t-Button t-Button--icon t-Button--header t-Button--navBar" type="button"
                id="L8804321173964414" data-menu="menu_L8804321173964414" title="">
                <span class="t-Icon fa fa-user" aria-hidden="true"></span>
                <span class="t-Button-label"> <span id="dynamicUsername"></span>!</span>
                <span class="t-Button-badge"></span>
                <span class="a-Icon icon-down-arrow" aria-hidden="true"></span>
            </button>
            <!-- <div class="t-NavigationBar-menu" style="display: none" id="menu_L8804321173964414">
                <ul class="headermenu">
                    <li data-icon="fa fa-sign-out">
                        <a href="#" id="signOutBtn">Sign Out</a>
                    </li>

                </ul>
            </div> -->
        </li>

        <!-- <li class="t-NavigationBar-item">
            <a class="t-Button t-Button--icon t-Button--header t-Button--navBar" href="#">
                <span class="t-Button-label">Last Logged in: <span id="lastLoggedIn">04-05-2025 09:58 PM</span></span>
            </a>
        </li> -->
        <!-- <li class="t-NavigationBar-item is-active" aria-current="page">
            <a class="t-Button t-Button--icon t-Button--header t-Button--navBar" href="/home">
                <span class="t-Icon fa fa-bell" aria-hidden="true"></span>
                <span class="t-Button-badge">0</span>
            </a>
        </li> -->
    </ul>
</div>