/* accessibility.css */
.dark-mode {
    background-color: #121212 !important;
    color: #f5f5f5 !important;
}

/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Font-size controlled by class */
body.font-small {
    font-size: 14px;
}

body.font-medium {
    font-size: 16px;
}

body.font-large {
    font-size: 18px;
}